---
import ThemeIcon from "../../components/ThemeIcon/ThemeIcon.astro";
import MenuIcon from "../../components/vsg/MenuIcon.astro";
import "./styles.css";
---

<div class="all-header">
  <div id="top-bar">
    <div class="dark-line">
      <ThemeIcon />
    </div>
  </div>
  <div class="header-header">
    <div class="header-logo">
      <h1>Meta Technology</h1>
    </div>
  </div>
  <div class="icon-menu-drop" id="menu-icon">
    <MenuIcon />
  </div>
  <div class="header-menu">
    <ul class="main-menu-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/TermsOfService">Terms of Service</a></li>
      <li><a href="/privacy">Privacy Policy</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/about">Aboul</a></li>
    </ul>
  </div>
  <div class="title-header">
    <h3>We are team of IT solution provider</h3>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var menuIcon = document.getElementById("menu-icon");
    var menu = document.querySelector(".main-menu-nav");

    menuIcon?.addEventListener("click", function () {
      menu?.classList.toggle("show-menu");
    });
  });

  document.addEventListener("DOMContentLoaded", function () {
    var header = document.querySelector(".header-menu");
    var scrollOffset = 100; // Điều kiện kéo xuống 100px

    window.addEventListener("scroll", function () {
      if (window.scrollY >= scrollOffset) {
        header?.classList.add("sticky-header");
      } else {
        header?.classList.remove("sticky-header");
      }
    });
  });
</script>
