---
import Sidebar from "../layouts/layout-1/Sidebar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Product Contact">
  <div class="contact-all">
    <div class="infor-contact">
      <h1>Contact</h1>
      <form action="">
        <input type="text" placeholder="Name..." />
        <input type="email" placeholder="Email..." />
        <br />
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="Your comment..."></textarea>
        <br />
        <button type="submit">SEND</button>
      </form>
    </div>
    <div class="sidebar">
      <Sidebar />
    </div>
  </div>
</Layout>
<style>
  .contact-all {
    display: flex;
    margin: 10px 100px;
  }
  .infor-contact {
    margin-top: 20px;
    height: 100vh;
    width: 70%;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 1px 0px 5px 4px rgba(199, 199, 199, 0.15);
    -moz-box-shadow: 1px 0px 5px 4px rgba(199, 199, 199, 0.15);
    box-shadow: 1px 0px 5px 4px rgba(199, 199, 199, 0.15);
  }
  .infor-contact h1 {
    font-size: 30px;
    border-bottom: 1px solid #050505;
    margin: 20px 0px;
    padding: 10px 0px;
    text-align: center;
  }

  form {
    padding: 10px;
  }

  form input {
    width: 100%;
    height: 40px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    padding: 0px 10px;
    margin-bottom: 25px;
  }
  form input::placeholder {
    color: #050505;
  }
  textarea {
    border-color: #ccc;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
  }

  textarea::placeholder {
    color: #050505;
  }

  form button {
    background-color: #0f8532dd;
    color: white;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    border: none;
  }
  form button:hover {
    background-color: #1e9e44dd;
    transition: 0.2s ease-in-out;
  }
  @media screen and (min-width: 375px) and (max-width: 480px) {
    .sidebar {
      display: none;
    }
    .contact-all {
      margin: 20px 20px;
    }
    form input {
      width: 100%;
    }
    .infor-contact {
      height: 440px;
      width: 100%;
    }
  }
  @media screen and (min-width: 480px) and (max-width: 800px) {
    .sidebar {
      display: none;
    }
    form input {
      width: 100%;
    }
    .contact-all {
      margin: 50px 20px 100px 20px;
    }
    .infor-contact {
      width: 100%;
      height: 490px;
    }
    .infor-contact button {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 800px) and (max-width: 1024px) {
    .sidebar {
      display: none;
    }
    form input {
      width: 100%;
    }
    .contact-all {
      margin: 50px 20px 100px 20px;
    }
    .infor-contact {
      width: 100%;
      height: 490px;
    }
    .infor-contact button {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 1024px) and (max-width: 1492px) {
    .contact-all {
      margin: 20px 100px;
      justify-content: center;
    }
  }

  @media screen and (min-width: 1492px) and (max-width: 1615px) {
    .contact-all {
      margin: 20px 70px;
      justify-content: center;
    }
  }
  @media screen and (min-width: 1615px) and (max-width: 1875px) {
    .contact-all {
      margin: 20px 100px;
      justify-content: center;
    }
  }
  @media screen and (min-width: 1875px) and (max-width: 1880px) {
    .contact-all {
      margin: 20px 100px;
      justify-content: center;
    }
  }
</style>
