---
import HeaderTop from "../components/HeaderTop/HeaderTop.astro";
import Layout from "../layouts/Layout.astro";
---


<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{}</title>
	</head>
	<body>
		<div class="detail-all">
			<HeaderTop/>
			<div class="title-post">
				<div class="link-tile">
					<span><a href="">Home</a></span>
					<span><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M8.59 16.59L13.17 12L8.59 7.41L10 6l6 6l-6 6l-1.41-1.41z"/></svg></span>
					<span>Looking Better in Photos Based on the Body Type</span>
				</div>
				<div class="post-title-big">
					<h3>Looking Better in Photos Based on the Body Type</h3>
				</div>
				<div class="infor-post">
					<span>Beauty</span>
					<span>/</span>
					<span>Sora Blogging Tips</span>
					<span>/</span>
					<span>3/18/2016</span>
				</div>
			</div>
			<div class="img-post">
				<a href=""><img src="../images-content1.jpg" alt=""></a>
			</div>
			<div class="text-post">
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
			</div>
			<div class="">
				
			</div>
		</div>
	</body>
</html>