---
import Content from "../components/Content/Content.astro";
import Sidebar from "../components/Sidebar/Sidebar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Meta Technology">
  <div class="all-content">
    <Content />
    <Sidebar />
  </div>
</Layout>

<style>
  .all-content {
    display: flex;
  }
  main {
    overflow-x: hidden;
  }
</style>
