---
import MtRight from "../components/vsg/MtRight.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="product privacy">
  <div class="privacy-all">
    <h1>Privacy Policy</h1>
    <div class="link-pages">
      <span>Home</span>
      <span><MtRight /></span>
      <span>Privacy</span>
    </div>
    <div class="title-h2">
      <h2>
        THE PRIVACY PROVISIONS BELOW BE AVAILABLE FOR ALL OFFICIAL CUSTOMERS AND
        TRIAL CUSTOMERS
      </h2>
    </div>
    <div class="title-p">
      <h4>PRIVACY & PRIVACY PROVISIONS</h4>
      <p>
        When you register to use the service on the
        <a href="">website www.cloudpbx.vn</a>, you can rest assured that we
        have implemented comprehensive information security, ensuring that only
        you and the people you provide information with are allowed to view.
        your account information. We respect your privacy and feel it is
        important for you to know how we handle the information we receive from
        you through our website at <a href="">www.cloudpbx.vn</a> and through
        required by the support application on our website or the tools and
        services offered on this website.
      </p>
      <h4>INFORMATION PROVIDED BY YOU</h4>
      <p>
        When you sign up for the service, we will ask for some information such
        as First Name Name, Company Name, Address and E-mail. When you sign up,
        you don't have to enter your credit card information until you decide to
        continue extend service and make payments. CloudPBX uses a company
        intermediary to manage and process credit card information. Central
        company This time is not allowed to store, retain, or use the
        information your payment except for the sole purpose of credit card
        processing application on CloudPBX.
      </p>
      <p>
        You can amend your account information at any time by changes in account
        management (can be logged in directly from homepage of this website).
        CloudPBX regulation is not allowed use your personal information for any
        marketing purposes. CloudPBX may use your personal information to
        collect information other information such as history of using the
        Service and use of this information for for payment purposes, account
        identification and authentication, or for communication with you
        regarding your use of the Service as needed.
      </p>
      <h4>COOKIES</h4>
      <p>
        When you visit the websites or use your Services, they I use “cookies” –
        understood as a piece of stored information on your computer – to allow
        websites or services to receive display your browser while you are
        logged in and allow CloudPBX processes your online transactions. Cookies
        also help us confirm your identity and confirm use of the Service.
        CloudPBX uses cookies that only CloudPBX can read and use, to identify
        you as a customers of CloudPBX and simpler login to the Service.
      </p>
      <p>
        When you visit the CloudPBX website, an advertising cookie will be
        installed on your device your computer so we can understand what you're
        interested in. Afterward Our advertising partners will display
        information or translate related services to refer you to other services
        to better assist you . Are the promotional techniques used by our
        partners? collect personal information such as name, email address,
        postal address or phone number.
      </p>
      <h4>INFORMATION SHARE</h4>
      <p>
        Except as described in this policy, CloudPBX will not give, sell, rent,
        or lend any personal information to any third party except as required
        by a governmental authority. , by court order or by applicable local
        laws. We may also share information if we believe it is necessary to
        investigate, prevent, or take action in connection with illegal
        activities, suspected fraud, threatening situations. threaten the safety
        of any person or otherwise provided for by law. CloudPBX may also
        provide non-personally, summary or group statistics about our customers,
        service & sales information, data delivery model, service operating
        model, information and websites related to reputable third-party
        vendors, but these statistics will not contain the customer's personal
        information.
      </p>
      <h4>CHILDREN INFORMATION</h4>
      <p>
        The services and applications on this website are not intended for or do
        not knowingly collect any personal information from children under the
        age of 13.
      </p>
      <h4>SECURITY INFORMATION</h4>
      <p>
        CloudPBX maintains reasonable security measures to protect your
        information you from loss, destruction, misuse, unauthorized access or
        disclosure. These technologies help ensure that your data is safe and
        available only to you and to those you provide access to permission.
        However, the general rule is that there are no suppliers services or
        data over the Internet, storage technology can Guaranteed to be 100%
        safe.
      </p>
      <h4>SECURITY POLICY CHANGES</h4>
      <p>
        CloudPBX may update this policy from time to time without Notification.
        You can review the most recent versions of this policy this privacy at
        any time in the Privacy Policy. Job Continuing to use our service means
        that you accept the privacy regulations set forth herein. The only
        remedy if you Failure to accept the terms of this privacy policy is to
        discontinue use use the services and websites offered by us.
      </p>
      <p>
        CloudPBX may assign or otherwise transfer this <a href=""
          >privacy policy</a
        >, your accounts, related information and data, to any person or entity
        that makes a future purchase or merger with CloudPBX .
      </p>
      <h4>TERMS OF SERVICE USE</h4>
      <p>
        When you access and use the Service, you are subject to the CloudPBX
        Terms of Service.
      </p>
      <h4>CONTACT</h4>
      <p>
        If you have any queries or questions regarding this privacy policy,
        please feel free to contact us via email <a href="">hello@cloudpbx.vn</a
        >
      </p>
    </div>
  </div>
</Layout>
<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  .privacy-all {
    margin: 20px 150px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    -webkit-box-shadow: 1px 0px 5px 4px rgba(199, 199, 199, 0.15);
    -moz-box-shadow: 1px 0px 5px 4px rgba(199, 199, 199, 0.15);
    box-shadow: 1px 0px 5px 4px rgba(199, 199, 199, 0.15);
  }
  .link-pages {
    display: flex;
    align-items: center;
  }
  .link-pages span:nth-child(2) {
    margin-top: 5px;
  }
  .title-p h4 {
    margin-bottom: 20px;
  }
  .title-p p {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 375px) and (max-width: 480px) {
    .privacy-all {
      margin: 20px 20px;
    }
  }
  @media screen and (min-width: 480px) and (max-width: 800px) {
    .privacy-all {
      margin: 20px 30px;
    }
  }
  @media screen and (min-width: 800px) and (max-width: 1024px) {
    .privacy-all {
      margin: 20px 30px;
    }
  }
</style>
