---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terms of Service">
  <div class="service-all">
    <h1>Summary of services</h1>
    <p>
      Unless otherwise stated, the following Google Workspace (formerly G Suite)
      services will be managed by the Google Workspace Services Addendum to the
      Google Cloud Master Agreement or otherwise under which Google agrees to
      provide the related services (“Google Workspace Agreement”). Some services
      or versions below may be managed by the Service-Specific Terms, which you
      can view at <a href=""
        >https://workspace.google.com/terms/service-terms/.</a
      >
    </p>
    <h2>Google Workspace Services:</h2>
    <h4>Main services</h4>
    <div class="text-service">
      <p>
        "Client-side encryption" is a feature that allows organizations to use
        keys own encryption to encrypt the Customer Data (if any) entered to
        some of the Key Services, as described at
        <a href=""> https://support.google.com/a/answer/10741897</a>or at a
        Legacy URLs.
      </p>
      <p>
        "Cloud Identity Services" are the services described at <a href=""
          >https://cloud.google.com/terms/identity/user-features.html</a
        >or at a legacy URL.
      </p>
      <p>
        "Currents" is a web-based service that allows Users end up sharing
        links, videos, images and other content with people in the same Google
        Workspace domain, and view and interact with content shared by others in
        that domain. End user You can also create and join communities to chat
        with other people in same domain and shared interests. If Currents is
        used to share content, content or interact with others outside of your
        Google Workspace domain End users, within that scope, Currents will not
        be available considered part of the Core Services.
      </p>
      <p>
        "Enterprise Data Storage Area" is a tool based on web platform that
        allows Administrators to apply major settings data storage area book for
        some regions for all or a select group of End Users involved with some
        static data material (including backup data) in Customer Data, as
        described at <a href="">https://support.google.com/a/answer/9223653.</a>
      </p>
      <p>
        "Gmail" is a web-based email service that allows organizations to
        operate your email system using Google systems. This service helps
        organizations access the End User's inbox through a single process
        supported browsing, reading messages, composing messages, replying to
        and forwarding messages, Search for messages as well as manage messages
        through labels. This service provides spam and virus filtering and
        allows Administrators to create rules for handling messages that contain
        specific content and attachments, or route mail to other mail servers.
        Groups or Customers (all domains) can set rules.
      </p>
      <p>
        "Google Calendar" is a web-based service for managing calendar of
        individuals, companies/organizations and groups. This service provides
        an interface to End Users view calendars, schedule meetings with other
        End Users, view information about other End Users' free/busy status, as
        well as up usage history of rooms and resources.
      </p>
      <p>
        "Google Cloud Search" is a web-based service that provides End-user
        search and support functionality for content in one Key Google Workspace
        Services and third party data sources third (if any). Google Cloud
        Search also provides End Users suggestions and useful, practical
        information.
      </p>
      <p>
        "Google Contacts" is a web-based service that allows Users to end users
        import, store, and view contact information, and create contact groups
        Personal system used to send email to many people at the same time.
      </p>
      <p>
        "Google Docs", "Google Sheets", "Google Slides" and "Google Forms" are
        web-based services that allow Users to End users create, edit, share,
        collaborate, draw, export, and embed content into documents,
        spreadsheets, presentations, and forms.
      </p>
      <p>
        "Google Drive" provides web-based tools that allow End users store,
        transfer, share files and watch videos.
      </p>
      <p>
        "Google Groups for Business" is a web-based service for Allows End Users
        and site owners to create and manage collaborative group. End users can
        discuss via email as well as share Share documents, calendars, web
        pages, and folders with members of a group. They can also view and
        search archives of discussions group. Google Workspace (Free) customers
        cannot use Google Groups for Business.
      </p>
      <p>
        "Google Chat" and "Google Meet" are web-based services, for allowing End
        Users to communicate with each other in real time. Google Chat provides
        an enhanced chat messaging and group collaboration platform for content
        integration with certain third-party services. Google Meet for allows
        for advanced video meetings, small or large scale, Includes both
        incoming and outgoing calls (carriers may charge a fee). Guest Google
        Workspace Business Standard, Google Workspace Business Plus products and
        Google Workspace Enterprise can enable meeting recording using Google
        Meet. Every end user is allowed to use the recording feature up to 80
        hours of Google Meet meetings, averaged across all used in a Google
        Workspace Enterprise licensed domain. Administrators can choose which
        services they want to enable for the domain. Call feature in Google Meet
        by the entities listed at the following URL provide:
        <a href=""
          >https://workspace.google.com/terms/service-terms/meet-telephony/providers.html</a
        >. Calling in Google Meet does not support emergency calls.
      </p>
      <h4>Other services</h4>
      <p>
        "AppSheet" is a web platform, widely available at
        <a href=""> https://www.appsheet.com</a>, allows organizations to
        broadcast Develop and host applications without having to write complex
        or overwhelming code much. For agents, distributors or providers of the
        Services, AppSheet is a Restricted Service under the Google Cloud
        program Partner Advantage.
      </p>
      <h2>Google Workspace versions/SKUs:</h2>
      <p>
        Information about the available storage of each Google instance/SKU
        Workspace is available at <a href=""
          >https://support.google.com/a?p=storage_by_edition</a
        >. For customers using a version of Google Workspace Business with email
        verification, some Key Services (including Gmail, Calendar Google and
        Google Vault of Google Workspace Business Plus), features security
        functions and functions may not work unless your domain name The
        administrator corresponds to the email address of the verified domain.
        You have More information can be found at
        <a href="">https://support.google.com/a?p=gws-verification.</a>
      </p>
    </div>
  </div>
</Layout>
<style>
  .service-all {
    margin: 20px 150px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    -webkit-box-shadow: 1px 0px 5px 4px rgba(199, 199, 199, 0.15);
    -moz-box-shadow: 1px 0px 5px 4px rgba(199, 199, 199, 0.15);
    box-shadow: 1px 0px 5px 4px rgba(199, 199, 199, 0.15);
  }
  .text-service {
    margin: 10px 0px 10px 50px;
  }
  .service-all h1,
  h2 {
    margin-bottom: 10px;
  }
  .service-all p {
    margin-bottom: 20px;
  }
  .service-all a {
    color: #2a71b4;
  }
  @media screen and (min-width: 375px) and (max-width: 480px) {
    .service-all {
      margin: 20px 20px;
    }
  }
  @media screen and (min-width: 480px) and (max-width: 800px) {
    .service-all {
      margin: 20px 20px;
    }
  }
  @media screen and (min-width: 800px) and (max-width: 1024px) {
    .service-all {
      margin: 20px 20px;
    }
  }
</style>
